#tribe-events-pg-template#tribe-events-pg-template {
  max-width: none;
  padding: 0;

  #tribe_events_filters_form {
    display: flex;
    justify-content: space-between;
  }

  #tribe-events-content {
    @extend .container;
  }

  #tribe-events-content a {
    font-weight: normal;
    text-decoration: underline;
  }

  .events-cta {
    @media #{$small-and-up} {
      text-align: right;
    }

    h3 {
      margin-top: 0;
    }
  }

  li::before, .content ul li::before, .wp-editor ul li::before {
    content: '';
    color: transparent;
    position: absolute;
    left: 0;
  }

  li {
    padding-left: 0;
  }

  label {
    display: flex;
    align-items: center;
    margin-left: 0;
    font-size: 16px;

    span {
      padding-left: 10px;
    }
  }

  #tribe_events_filter_control {
    clear: both;
    text-align: center;
  }

  #tribe_events_filters_reset {
    text-decoration: none;
  }

  #tribe-events-content.tribe-events-list {
    clear: both;
  }

  .tribe-events-list h2.tribe-events-page-title {
    margin-bottom: 15px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: 36px;
  }
}

#tribe-events-content {
  h3 {
    margin-top: 0;
  }

  &.tribe-events-single.row {
    padding-top: 3em;

    .hentry {
      padding-bottom: 0;
    }
  }
}

.tribe-events-single-section {
  dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  dd {
    margin-left: 0;
  }
}
