#tribe-events-pg-template {
  max-width: 85%;
  padding: 2.5em 0;

  .background-paper {
    padding: 0 0 1em;
  }

  #tribe_events_filters_form {
    float: left;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  #tribe-events-content a {
    font-weight: normal;
    text-decoration: underline;
  }

  .right {
    float: right !important;
    width: 60%;
    text-align: right;
    padding-top: 10px;
  }

  li::before, .content ul li::before, .wp-editor ul li::before {
    content: '';
    color: transparent;
    position: absolute;
    left: 0;
  }

  li {
    padding-left: 0;
  }

  label {
    display: flex;
    align-items: center;
    margin-left: 0;

    span {
      padding-left: 10px;
    }
  }

  #tribe_events_filter_control {
    clear: both;
    text-align: center;
  }

  #tribe_events_filters_reset {
    text-decoration: none;
  }

  #tribe-events-content.tribe-events-list {
    clear: both;
  }

  .tribe-events-list h2.tribe-events-page-title {
    margin-bottom: 15px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 900;
    font-size: 36px;
  }
}

#tribe-events-content {
  h3 {
    margin-top: 0;
  }
}

.tribe-events-single-section {
  dt {
    font-weight: bold;

    &:not(:first-child) {
      margin-top: 25px;
    }
  }

  dd {
    margin-left: 0;
  }
}
