#tribe-events-pg-template {
  max-width: 85%;
  padding: 2.5em 0;

  .background-paper {
    padding: 0 0 1em;
  }

  #tribe_events_filters_form {
    float: left;
    display: flex;
    width: 40%;
    justify-content: space-between;
  }

  #tribe-events-content a {
    font-weight: normal;
  }

  .right {
    float: right !important;
    width: 60%;
    text-align: right;
    padding-top: 10px;
  }

  li::before, .content ul li::before, .wp-editor ul li::before {
    content: '';
    color: transparent;
    position: absolute;
    left: 0;
  }

  li {
    padding-left: 0;
  }

  label {
    display: flex;
    align-items: center;
    margin-left: 0;

    span {
      padding-left: 10px;
    }
  }

  #tribe_events_filter_control {
    clear: both;
    text-align: center;
  }

  #tribe_events_filters_reset {
    text-decoration: none;
  }

  #tribe-events-content.tribe-events-list {
    clear: both;
  }
}
