header {
  nav {
    background: none;
    padding: 10px 0 0;
    position: relative;
    z-index: 2;
  }

  .logo {
    padding-left: 20px;
    display: block;
    max-width: 50%;

    img {
      height: auto;
    }

    @media #{$small-and-down} {
      padding-left: 0;
    }
    @media #{$xsmall-and-down} {
      max-width: 100%;
    }
  }

  .utility {
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 1;

    li {
      float: none;
      display: inline-block;
    }

    @media #{$small-and-down} {
      padding-right: 0;
    }
    @media #{$xsmall-and-down} {
      display: none;
    }
  }

  .search-form {
    margin: 10px 0;
    width: 270px;
  }

  .btn-blue {
    width: 250px;
  }

  .menu-trigger-wrapper {
    position: relative;
    text-align: right;
    padding-right: 20px;
    height: 50px;

    [type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    input:focus + label {
      outline: $color-gray-dark auto 5px;
    }

    label {
      display: inline-block;
      text-decoration: none;
      height: 50px;
      width: 50px;
      text-align: center;
      color: $color-white;

      i {
        font-size: 2em;
        line-height: 1.75em;
      }

      &:hover {
        color: rgba($color-white, 0.7);
        cursor: pointer;
      }
    }
  }
}

.navbar {
  clear: both;
  background: $color-green;
  height: 60px;

  @media #{$medium-and-down} {
    height: 50px;
    line-height: 50px;
  }
}

.navbar-menu {
  li {
    float: left;
    position: relative;

    &.active {
      background: none;
    }

    &::before {
      display: none;
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: normal;
      font-size: 1.2em;
    }

    &:hover, &:focus, &.hover {
      z-index: 100;

      & > a {
        background: rgba($color-slate-dark, 0.2);
      }

      &:not(.nav-btn) {
        a::before {
          height: 100%;
        }
      }

      ul {
        left: 0;
        height: auto;
        opacity: 1;

        a {
          background: none;
        }
      }
    }
  }

  .menu-item-has-children a {
    cursor: default;

    @media #{$medium-and-down} {
      cursor: pointer;
    }
  }

  .sub-menu a {
    cursor: pointer;
  }

  ul {
    a {
      font-size: 1.1rem;
      line-height: 1.2em;
      text-transform: none;
      padding: 10px 15px;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  li.mega-menu {
    & > ul.sub-menu {
      & > li.menu-item {
        & > a {
          color: $color-white;
          font-weight: bold;
          text-transform: uppercase;
          cursor: default;
          padding: 0;
          margin: 15px 15px 0;
          text-decoration: underline;
        }

        & > ul.sub-menu {
          position: relative;
          top: 0;
          background: none;
          border-top: none;
          box-shadow: none;
        }
      }
    }
  }

  @media #{$medium-and-down} {
    flex-flow: nowrap column;
    margin: 0;
    width: 100%;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
    background: $color-green;
    text-align: center;

    li {
      width: 100%;

      &.hover {
        .sub-menu {
          max-height: 300em;
        }
      }
    }

    .mobilenav-active & {
      max-height: 300em;
    }

    .sub-menu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  }

  // @media #{$medium-and-down} {
  //   position: fixed;
  //   width: 300px;
  //   left: auto;
  //   right: 0;
  //   top: 0;
  //   margin: 0;
  //   opacity: 0;
  //   transform: translateX(100%);
  //   height: 100%;
  //   height: calc(100% + 60px);
  //   height: -moz-calc(100%); //Temporary Firefox Fix
  //   padding-bottom: 60px;
  //   padding-right: 0;
  //   background-color: $color-green;
  //   z-index: 999;
  //   will-change: transform;
  //   backface-visibility: hidden;
  //   transition: transform 0.3s ease;
  //
  //   li {
  //     display: block;
  //     float: none;
  //
  //     a {
  //       font-size: 1.1em;
  //       text-align: center;
  //     }
  //
  //     &.nav-btn {
  //       padding-right: 15px;
  //     }
  //   }
  //
  //   ul {
  //     height: 0;
  //     opacity: 0;
  //     transition: all 0.3s ease;
  //   }
  // }
  @media #{$large-and-up} {
    ul {
      position: absolute;
      top: 100%;
      left: -9999em;
      width: 280px;
      padding: 15px 0;
      background: #E5E6E6 url('../images/paper-fibers.png');
      border-top: 2px solid $color-green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

      li {
        float: none;
        position: static;
      }

      a {
        color: $color-slate-dark;
        padding: 10px 15px;
      }
    }

    li.mega-menu {
      & > ul.sub-menu {
        width: 75vw;
        display: flex;

        ul {
          width: auto;
        }

        & > li.menu-item {
          width: 25%;

          & > a {
            text-decoration: none !important;
            color: $color-blue;
            border-bottom: 1px solid $color-blue;
          }
        }
      }
    }
  }
}
