.issue-banner {
  @extend .z-depth-1;

  margin-bottom: 2em;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  * {
    position: relative;
    margin: 0;
    font-size: 24px;
    font-family: $font-libre;
    font-weight: 700;

    @include text-shadow;
  }

  a {
    text-decoration: none !important;
    color: $color-white !important;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 25%;

    span {
      display: block;
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
    }
  }

  &:hover, &:focus {
    @extend .z-depth-2;
  }

  &::before {
    content: '';

    @include cover;
  }

  &:nth-of-type(4n-3)::before {   // Every 4th, starting at the first
    background: rgba($color-orange, 0.5);
  }

  &:nth-of-type(4n-2)::before {  // Every 4th, starting at the second
    background: rgba($color-green, 0.5);
  }

  &:nth-of-type(4n-1)::before {  // Every 4th, starting at the third
    background: rgba($color-slate-dark, 0.5);
  }

  &:nth-of-type(4n)::before {  // Every 4th, starting at the fourth
    background: rgba($color-blue, 0.5);
  }
}
