.hentry {
  border-bottom: 2px solid $color-green;
  padding-bottom: 2em;
  margin-bottom: 2em;

  .home & {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .date {
    color: $color-slate;
  }

  .entry-title {
    font-size: 18px;
    margin: 0.5em 0;
    font-weight: bold;
  }
}

.single-post {
  .content .container {
    padding-top: 2em;
  }

  .entry-title {
    @extend h2;

    font-size: 36px;
  }
}
