.resources-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.75rem;

  .facetwp-checkbox {
    margin: 10px 0;
  }

  &::after {
    content: none;
  }

  .facet-label {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #81BC41;

    .material-icons {
      position: relative;
      top: 4px;
      left: -5px;
    }
  }
}

.resources-search {
  .resources-cta {
    @media #{$small-and-up} {
      text-align: right;
    }

    h3 {
      margin-top: 0;
    }
  }
}

.resources-reset {
  float: none !important;
  display: flex;
  justify-content: center;

  a {
    text-decoration: none !important;
  }
}

.resources-list {
  margin: 3em 0;

  span {
    position: relative;
    bottom: 4px;
  }

  .material-icons {
    position: relative;
    top: 4px;
    padding-right: 5px;
  }

  .chip {
    color: $color-white;

    // Year
    &[data-type="Year"] {
      background: $color-green;
    }

    // Type
    &[data-type="Type"] {
      background: $color-orange;
    }

    // Initaitive
    &[data-type="Initiative"] {
      background: $color-blue;
    }

    // Issues
    &[data-type="Issue"] {
      background: $color-brown;
    }
  }
}

.report-banner {
  @extend .z-depth-1;

  margin-bottom: 2em;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // border-radius: 25px;

  * {
    position: relative;
    margin: 0;
    font-family: $font-libre;
    font-weight: 700;

    @include text-shadow;
  }

  a {
    text-decoration: none !important;
    color: $color-white !important;
    display: block;
    width: 100%;
    font-size: 18px;
    line-height: 1.3em;

    span {
      display: block;
      width: 100%;
      padding: 15px;
    }

    @media #{$small-and-up} {
      height: 0;
      padding-bottom: 30%;

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 15px;
      }
    }
    @media #{$medium-and-up} {
      padding-bottom: 30%;
      font-size: 22px;
    }
    @media #{$large-and-up} {
      padding-bottom: 25%;
    }
    @media #{$extra-large-and-up} {
      padding-bottom: 20%;
      font-size: 24px;
    }
  }

  &:hover, &:focus {
    @extend .z-depth-2;
  }

  &::before {
    content: '';

    @include cover;
  }

  &:nth-of-type(4n-3)::before {   // Every 4th, starting at the first
    background-color: rgba($color-orange, 0.7);
  }

  &:nth-of-type(4n-2)::before {  // Every 4th, starting at the second
    background-color: rgba($color-green, 0.7);
  }

  &:nth-of-type(4n-1)::before {  // Every 4th, starting at the third
    background-color: rgba($color-slate-dark, 0.7);
  }

  &:nth-of-type(4n)::before {  // Every 4th, starting at the fourth
    background-color: rgba($color-blue, 0.7);
  }

  @for $i from 1 through 48 {
    &[data-rand="#{$i}"] {
      background-image: url('../../images/horizontal/ncecf-banner-#{$i}-min.jpg');
    }
  }
}

.featured-resources {
  .col {
    position: relative;
    padding: 10px;
    background-size: cover;
    background-position: center top;
    min-height: 550px;

    & > * {
      padding: 0;
    }

    a.mega-link {
      &:hover, &:focus {
        & + .flex .title-wrap {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .flex {
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      height: 100%;
    }

    .chip {
      color: $color-white;
      text-transform: uppercase;
      text-shadow: none;
    }

    .title-wrap {
      transform: translate3d(0, 45px, 0);
      transition: all 0.3s ease;
      padding-top: 15vw;
      margin-top: auto;
    }

    h3 {
      color: $color-white;
      margin-top: 0;
      text-shadow: none;
    }

    p {
      font-size: 1em;
      text-shadow: none;
    }

    a {
      color: $color-white !important;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.3em;
    }

    &:nth-of-type(4n-3) {   // Every 4th, starting at the first
      &::before {
        @include trans-orange-gradient-down-half;
      }

      .chip {
        background: $color-orange;
      }
    }

    &:nth-of-type(4n-2) {  // Every 4th, starting at the second
      &::before {
        @include trans-green-gradient-down-half;
      }

      .chip {
        background: $color-green;
      }
    }

    &:nth-of-type(4n-1) {  // Every 4th, starting at the third
      &::before {
        @include trans-slate-dark-gradient-down-half;
      }

      .chip {
        background: $color-slate-dark;
      }
    }

    &:nth-of-type(4n) {  // Every 4th, starting at the fourth
      &::before {
        @include trans-blue-gradient-down-half;
      }

      .chip {
        background: $color-blue;
      }
    }

    @for $i from 1 through 20 {
      &[data-rand="#{$i}"] {
        background-image: url('../images/vertical/vertical-banners-#{$i}.jpg');
      }
    }
  }
}

@media (max-width: 1000px) {
  .featured-resources {
    .col {
      min-height: auto;
    }
  }
}
