/* -----------------------------------------------------------------------------
 *
 * Dropdown
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-filter-bar-c-dropdown {

		.select2-dropdown {
			position: static;
		}

		.select2-results__option {
			padding: calc(var(--spacer-2) / 2) 0;
		}
	}
}
