/* -----------------------------------------------------------------------------
 *
 * Radio
 *
 * ----------------------------------------------------------------------------- */

.tribe-events {

	.tribe-filter-bar-c-range__label {
		margin: 0 0 var(--spacer-2);
	}
}
