* {
  box-sizing: border-box;
  font-family: $font-open;
}

.container {
  @media #{$medium-and-up} {
    width: 90%;
  }
  @media #{$large-and-up} {
    width: 85%;
  }
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

strong {
  font-weight: 700;
}
