* {
  box-sizing: border-box;
  font-family: $font-open;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}
