h1 {
  font-family: $font-libre;
  font-weight: 900;
  font-size: 45px;
}

.h1 {
  @extend h1;
}

h2 {
  font-family: $font-libre;
  font-weight: 900;
  font-size: 36px;
  color: $color-blue;

  a {
    color: inherit;
  }
}

h3 {
  font-family: $font-open;
  font-weight: 600;
  font-size: 24px;
  color: $color-green;
}

.main, .content, .wp-editor {
  p, li {
    font-size: 18px;
  }

  a:not(.btn) {
    text-decoration: underline;
    color: $color-blue;

    &:hover, &:focus {
      color: $color-green;
      text-decoration: none;
    }
  }

  ul {
    li {
      list-style: none;
      position: relative;
      padding-left: 30px;

      &::before {
        content: '\2022';
        color: $color-blue;
        position: absolute;
        left: 10px;
      }
    }
  }
}

@mixin text-shadow {
  text-shadow: 0 2px 4px $color-gray-dark;
}
