/** Fonts */
$font-libre: "Libre Franklin", sans-serif;
$font-open: "Open Sans", sans-serif;

/** Colors */
$color-green:                 #81BC41;
$color-orange:                #F89C24;
$color-brown:                 #744F28;
$color-blue:                  #4597CB;
$color-light-blue:            #E1EDF1;
$color-blue-dark:             #005F9F;
$color-slate:                 #8194AA;
$color-slate-dark:            #4D5C6B;
$color-black:                 #000;
$color-gray-dark:             #4A4A4A;
$color-gray-medium:           #858585;
$color-gray-light:            #EFEFEF;
$color-white:                 #FFF;
$color-red:                   #B90A0A;

$primary-color:               $color-blue;
$secondary-color:             $color-green;

$success-color:               $color-green;
$error-color:                 $color-red;
$link-color:                  $color-blue;

$color-blue-trans:            rgba($color-blue, 0);
$color-orange-trans:          rgba($color-orange, 0);
$color-green-trans:           rgba($color-green, 0);
$color-slate-dark-trans:      rgba($color-slate-dark, 0);
$color-white-trans:           rgba($color-white, 0);

/** Modified Grid */
$xsmall-screen: 600px;
$xsmall-screen-up: 601px;
$small-screen-up: 769px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
$small-and-up: "only screen and (min-width : #{$xsmall-screen-up})";
$xsmall-and-down: "only screen and (max-width : #{$xsmall-screen})";

/** Gradients */
// Utility mixin from Compass
@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
  $gradient-type: if($orientation == vertical, 0, 1);

  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
}
@mixin trans-blue-gradient-down {
  @include filter-gradient($color-blue-trans, $color-blue, vertical);

  background-image: -o-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: -moz-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: -ms-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
}
@mixin trans-blue-gradient-down-half {
  @include filter-gradient($color-blue-trans, $color-blue, vertical);

  background-image: -o-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 70%);
  background-image: -moz-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 70%);
  background-image: -ms-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 70%);
  background-image: linear-gradient(180deg, $color-blue-trans 0%, $color-blue 70%);
}
@mixin trans-orange-gradient-down-half {
  @include filter-gradient($color-orange-trans, $color-orange, vertical);

  background-image: -o-linear-gradient(180deg, $color-orange-trans 0%, $color-orange 70%);
  background-image: -moz-linear-gradient(180deg, $color-orange-trans 0%, $color-orange 70%);
  background-image: -ms-linear-gradient(180deg, $color-orange-trans 0%, $color-orange 70%);
  background-image: linear-gradient(180deg, $color-orange-trans 0%, $color-orange 70%);
}
@mixin trans-green-gradient-down-half {
  @include filter-gradient($color-green-trans, $color-green, vertical);

  background-image: -o-linear-gradient(180deg, $color-green-trans 0%, $color-green 70%);
  background-image: -moz-linear-gradient(180deg, $color-green-trans 0%, $color-green 70%);
  background-image: -ms-linear-gradient(180deg, $color-green-trans 0%, $color-green 70%);
  background-image: linear-gradient(180deg, $color-green-trans 0%, $color-green 70%);
}
@mixin trans-slate-dark-gradient-down-half {
  @include filter-gradient($color-slate-dark-trans, $color-slate-dark, vertical);

  background-image: -o-linear-gradient(180deg, $color-slate-dark-trans 0%, $color-slate-dark 70%);
  background-image: -moz-linear-gradient(180deg, $color-slate-dark-trans 0%, $color-slate-dark 70%);
  background-image: -ms-linear-gradient(180deg, $color-slate-dark-trans 0%, $color-slate-dark 70%);
  background-image: linear-gradient(180deg, $color-slate-dark-trans 0%, $color-slate-dark 70%);
}
@mixin trans-white-gradient-down {
  @include filter-gradient($color-white-trans, $color-white, vertical);

  background-image: -o-linear-gradient(180deg, $color-white-trans 0%, $color-white 100%);
  background-image: -moz-linear-gradient(180deg, $color-white-trans 0%, $color-white 100%);
  background-image: -ms-linear-gradient(180deg, $color-white-trans 0%, $color-white 100%);
  background-image: linear-gradient(180deg, $color-white-trans 0%, $color-white 100%);
}

/** Buttons */
// Shared styles
$button-background-focus: lighten($color-orange, 4%);
$button-font-size: 1.2rem;
$button-height: 50px;
$button-padding: 0 3rem;
$button-radius: 25px;

// Raised buttons
$button-raised-background: $color-orange;

/** Navigation */
$navbar-height: auto;
$navbar-line-height: 60px;
$navbar-height-mobile: auto;
$navbar-line-height-mobile: $navbar-line-height;

/** Footer */
$footer-font-color: $color-black;
$footer-bg-color: $color-gray-light;
$footer-copyright-font-color: $color-white;
$footer-copyright-bg-color: $color-slate-dark;

/** Box Model  */
$spacer:                2rem;
