/** Fonts */
$font-libre: "Libre Franklin", sans-serif;
$font-open: "Open Sans", sans-serif;

/** Colors */
$color-green:                 #81BC41;
$color-orange:                #F89C24;
$color-brown:                 #744F28;
$color-blue:                  #4597CB;
$color-slate:                 #8194AA;
$color-slate-dark:            #4D5C6B;
$color-black:                 #000;
$color-gray-dark:             #4A4A4A;
$color-gray-medium:           #858585;
$color-gray-light:            #EFEFEF;
$color-white:                 #FFF;
$color-red:                   #B90A0A;

$primary-color:               $color-blue;
$secondary-color:             $color-green;

$success-color:               $color-green;
$error-color:                 $color-red;
$link-color:                  $color-blue;

$color-blue-trans:                  rgba($color-blue, 0);

/** Gradients */
// Utility mixin from Compass
@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
  $gradient-type: if($orientation == vertical, 0, 1);

  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
}
@mixin trans-blue-gradient-down {
  @include filter-gradient($color-blue-trans, $color-blue, vertical);

  background-image: -o-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: -moz-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: -ms-linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
  background-image: linear-gradient(180deg, $color-blue-trans 0%, $color-blue 100%);
}

/** Buttons */
// Shared styles
$button-background-focus: lighten($color-orange, 4%);
$button-font-size: 1.2rem;
$button-height: 50px;
$button-padding: 0 3rem;
$button-radius: 25px;

// Raised buttons
$button-raised-background: $color-orange;

/** Navigation */
$navbar-height: auto;
$navbar-line-height: 60px;
$navbar-height-mobile: auto;
$navbar-line-height-mobile: $navbar-line-height;

/** Footer */
$footer-font-color: $color-black;
$footer-bg-color: $color-gray-light;
$footer-copyright-font-color: $color-white;
$footer-copyright-bg-color: $color-slate-dark;

/** Box Model  */
$spacer:                2rem;
