/* -----------------------------------------------------------------------------
 *
 * Checkbox
 *
 * ----------------------------------------------------------------------------- */

.tribe-filter-bar {

	/* -------------------------------------------------------------------------
	 * Theme Overrides - Twenty Twenty
	 * ------------------------------------------------------------------------- */

	.tribe-theme-twentytwenty & {

		.tribe-common-form-control-checkbox__input {
			top: 0;
		}
	}
}
