.footnotes {
  color: $color-gray-medium;

  &::before {
    width: 100%;
    border-top-color: $color-gray-medium;
  }

  ol {
    li {
      list-style: decimal;
      font-size: 0.9em;
      padding-left: 10px;

      &::before {
        display: none;
      }
    }
  }
}
