.search-form {
  height: auto;
  background: $color-slate-dark;
  border: 2px solid $color-slate-dark;
  border-radius: 3px;
  clear: both;
  line-height: 2.2rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 6px;
    right: 6px;
    width: calc(2.2rem - 12px);
    height: calc(2.2rem - 12px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../images/icon-search.svg');
    pointer-events: none;
  }

  label {
    float: left;
    width: calc(100% - 35px);
  }

  input.search-field {
    background: $color-white;
    height: 2.2rem;
    margin: 0;
    padding: 0 10px;
    border: 0 !important;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
  }

  input.search-submit {
    display: block;
    height: 2.2rem;
    width: 2.2rem;
    color: $color-slate-dark;
    text-indent: -100em;
    overflow: hidden;
    border: none;
    background: $color-slate-dark;
    cursor: pointer;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 1em;
}

label {
  font-size: 1rem;
  color: $color-gray-dark;
}

input {
  box-shadow: none !important;
  background: $color-white;
  border-radius: 3px;
  border: 2px solid $color-slate-dark;
  font-family: $font-open;
  padding: 0 10px;
  line-height: 1.15;
  height: 2.2rem;
}

.wpcf7-form-control-wrap {
  display: block;
}

.wpcf7-form {
  br {
    display: none;
  }
}

.wpcf7-not-valid-tip {
  color: $error-color;
  display: block;
}
