.social-icons, .page-footer .menu {
  li {
    a {
      display: block;
      position: relative;
      height: 30px;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }

    &.subscribe a::before {
      background-image: url('../images/icon-subscribe.svg');
    }

    &.facebook a::before {
      background-image: url('../images/icon-facebook.svg');
    }

    &.linkedin a::before {
      background-image: url('../images/icon-linkedin.svg');
    }

    &.twitter a::before {
      background-image: url('../images/icon-twitter.svg');
    }
  }
}

.social-icons {
  li {
    padding: 0 3px;

    a {
      overflow: hidden;
      padding: 0;
      text-indent: -100em;
      width: 30px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

.page-footer .menu {
  li {
    padding: 0 3px 5px;

    a {
      padding-left: 40px;
      line-height: 30px;
      color: $color-black;
      text-decoration: underline;

      &:hover, &:focus, &:active {
        color: $color-blue;
        text-decoration: none;
      }
    }
  }
}
