nav.pagination.pagination {
  @extend .z-depth-0;

  background: none;
  color: $color-black;

  .page-numbers, a {
    display: inline-block;
    min-width: 40px;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2em;
    background: $color-orange;
    color: $color-white !important;
    text-decoration: none !important;

    &.current {
      background: $color-slate-dark;
      font-weight: bold;
    }

    &:hover, &:focus {
      background: darken($color-orange, 10%);
      color: $color-white !important;

      @extend .z-depth-2;
    }

    &.active, &.current {
      background: darken($color-orange, 15%);

      @extend .z-depth-0;
    }
  }
}
